.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    padding: 0;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    overflow-y:auto;
    max-height: 400px;
    /*top: 32px;
    left: 0px;
    */
    margin-top: 0;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    font-weight: bold;
    color: #000000;
    clear: both;
    padding:0;
}


.angucomplete-selected-row {
    background-color:#ddd;
}
.angucomplete-image-holder {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}
/*
.angucomplete-row:nth-child(even) {
    background-color: #f2f2f2;
}
*/
.angucomplete-image {
   height: 20px;
   width: 20px;
   background-size: contain;
   background-position: center;
   border: 0px;
   border-radius: 50%;
   background-image:url('http://localhost:8000/location.png');
   margin-bottom: 5px;

}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */

    background-position: center;
    background-size:contain;
    height: 34px;
    width: 34px;
}
