<div ng-controller="formDoldur" style="min-height: 1000px;">
    <div class="container bg-gray" id="accordion-style-1">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-green mb-4 text-center" style="display:block">Bilgileri Gir Ve İlan Yayınla</h4>
                            <button class="btn morButton" ng-click="tamamla()" style="display:block;margin:0 auto;margin-bottom: 5px;">Tamamla</button>
                            <strong class="text-center" ng-show="(!formIsValid.form1 || !formIsValid.form2 || !formIsValid.form3 || !formIsValid.form4) && formIsValid.yeni" style="color:red;display: block;margin-bottom: 5px;">Gerekli Alanları Doldurunuz !</strong>

                       </div>
                    <div class="col-10 mx-auto">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-angle-right mr-3"></i>  Adres Bilgileri
                                </button>
                              </h5>
                                </div>

                                <div id="collapseOne" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <sehir page='kuaforFormDoldur'></sehir>
                                    <div class="form-group">
                                        <label>İşletmenin Tam Adresi <label class="error" ng-if="tamAdresValid">En Az 20 Karakter Giriniz</label></label>
                                           <textarea minlength="20" class="form-control" ng-model="tamAdres" name="" id="tamAdres" cols="5" rows="5"></textarea>
                                    </div>

                                 </div>
                                </div>
                            </div>
                          <br>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                 <i class="fa fa-angle-right mr-3"></i>İşletme Bilgileri
                                </button>
                              </h5>
                                </div>
                                <div id="collapseTwo" class="collapse fade" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Erkek / Bayan Seçimi <label class="error" ng-if="genderValid">En Az Bir Tane Seçiniz</label> </label>
                                                <div
                                                isteven-multi-select
                                                input-model="genderInput"
                                                output-model="genderOutput"
                                                button-label="name"
                                                item-label="name"
                                                tick-property="ticked"
                                                selection-mode="single"
                                            >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>İşletme Adı <label class="error" ng-if="isletmeAdiValid"> Alanı Doldurunuz</label></label>

                                             <input type="text" id="isletmeAdi" ng-model="isletmeAdi" class="form-control">

                                        </div>

                                            <div class="form-group" ng-init="diger=false">
                                                <label>İşletmedeki Toplam Müşteri Kapasitesi
                                                    <label class="error" ng-if="kapasiteValid"> Alanı Doldurunuz</label>
                                                </label>
                                                <select class="form-control" id="kapasite" ng-change="kapasiteDegisti()" ng-model="kapasite">
                                                    <option value="" disabled>Seçiniz</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="0">Diğer</option>
                                                  </select>


                                            </div>
                                            <div class="form-group">
                                                <label ng-if="digerValid" class="error"> Alanı Doldurunuz</label>
                                                  <input type="number" id="kapasiteDiger" style="display: inline-block;width: 90%;" min="1" max="100" ng-model="kapasiteDiger" ng-show="diger" class="form-control">
                                                  <button type="button" ng-if="diger" ng-click="diger=false;kapasite=''" style="display: inline-block;" class="btn btn-xs btn-secondary">Gizle</button>

                                            </div>
                                            <div class="form-group">
                                                <label>İşletme Telefonu  <label class="error" ng-if="telValid"> Alanı Doldurunuz</label></label>
                                                <input phone-input type="text" id="telefon" ng-model="telefon" class="form-control">


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <i class="fa fa-angle-right mr-3"></i>İşletme Hizmetleri
                                </button>
                              </h5>
                                </div>
                                <div id="collapseThree" class="collapse fade" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>İşletme Hizmetleriniz Neler ?
                                                <label class="error" ng-if="hizmetValid"> Alanı Doldurunuz</label>

                                            </label>
                                                <div
                                                isteven-multi-select
                                                input-model="hizmetInput"
                                                output-model="hizmetOutput"
                                                button-label="name"
                                                item-label="name"
                                                tick-property="ticked"
                                                on-open="fOpen('hizmet')"
                                            >
                                            </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fa fa-angle-right mr-3"></i>İşletme Çalışma Saatleri
                                </button>
                              </h5>
                                </div>
                                <div id="collapseFour" style="width: 100%;overflow-x: auto;" class="collapse fade" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                       <!-- <div class="form-row">
                                            <div class="col">
                                            <label>İşletme Hangi Günler Açık ?</label>
                                            <div
                                            isteven-multi-select
                                            input-model="zamanInput"
                                            output-model="zamanOutput"
                                            button-label="name"
                                            item-label="name"
                                            tick-property="ticked"
                                            selection-mode="single"
                                        >
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label>İşletme Hangi Saatlerde Açık ?</label>
                                        <div
                                        isteven-multi-select
                                        input-model="saatInput"
                                        output-model="saatOutput"
                                        button-label="name"
                                        item-label="name"
                                        tick-property="ticked"
                                        >
                                </div>
                                    </div>
                                    <div class="col">
                                       <button ng-click="secilenTemizle()" ng-disabled="zamanOutput.length > 0 && saatOutput.length > 0 " class="btn btn-md btn-danger">Temizle</button>
                                    </div>
                                </div>
                                <hr>
                            -->
                            <a ng-click="allCheck()">Hepsini İşaretle / Kaldır</a>
                            <label class="error" ng-if="totalValid"> Alanı Doldurunuz</label>

                            <div class="form-group">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th></th>
                                            <th>
                                               Pazartesi

                                            </th>
                                            <th>Salı</th>
                                            <th>Çarşamba</th>
                                            <th>Perşembe</th>
                                            <th>Cuma</th>
                                            <th>Cumartesi</th>
                                            <th>Pazar</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="i in saatInput track by $index">
                                              <td>{{i.name}}</td>
                                              <td class="pzt" ng-init="id='pzt'+ uniqID.new();">
                                                <label class="checkbox-container">
                                                    <input type="checkbox"  ng-click="sec('Pazartesi',i.name,$event,id)"  ng-model="ischecked" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>

                                             </td>
                                              <td class="sal" ng-init="id='sal'+ uniqID.new();">
                                                <label class="checkbox-container">
                                                    <input type="checkbox"  ng-click="sec('Salı',i.name,$event,id)"  ng-model="ischecked2" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                              </td>
                                              <td class="car" ng-init="id='car'+ uniqID.new();">
                                                <label class="checkbox-container">
                                                    <input type="checkbox"  ng-click="sec('Çarşamba',i.name,$event,id)"  ng-model="ischecked3" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                              </td>
                                              <td class="per" ng-init="id='per'+ uniqID.new();">
                                                <label class="checkbox-container">
                                                    <input type="checkbox"  ng-click="sec('Perşembe',i.name,$event,id)"  ng-model="ischecked4" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                              </td>
                                              <td class="cum" ng-init="id='cum'+ uniqID.new();">
                                                <label class="checkbox-container">
                                                    <input type="checkbox"  ng-click="sec('Cuma',i.name,$event,id)"  ng-model="ischecked5" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                              </td>
                                              <td class="cmt" ng-init="id='cmt'+ uniqID.new();">
                                                <label class="checkbox-container">
                                                    <input type="checkbox"  ng-click="sec('Cumartesi',i.name,$event,id)"  ng-model="ischecked6" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                              </td>
                                              <td class="pzr" ng-init="id='pzr'+ uniqID.new();">
                                                <label class="checkbox-container">
                                                    <input type="checkbox"  ng-click="sec('Pazar',i.name,$event,id)"  ng-model="ischecked7" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                              </td>
                                          </tr>

                                        </tbody>
                                      </table>

                                </div>
                            </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fa fa-angle-right mr-3"></i>  Fiyatlandırma
                            </button>
                          </h5>
                            </div>

                            <div id="collapseFive" class="collapse  fade" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">

                                <div class="form-group">
                                    <label>Hizmet Fiyatlandırma
                                        <label class="error" ng-if="fiyatlandirmaValid"> Alanı Doldurunuz</label>

                                    </label>
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th>Seçilen Hizmetler</th>
                                            <th>
                                               Fiyat (TL)
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                         <tr class="dataTr" ng-repeat="i in  hizmetOutput track by $index">
                                          <td  class="dataTd">{{i.name}}</td>
                                          <td>
                                              <input type="number" style="height: 30px;" min="1" max="100000" placeholder="Fiyat" id="fiyat" class="form-control input">
                                            </td>
                                         </tr>
                                         <tr>
                                            <td colspan="12" style="background-color: #ddd;">
                                                Toplam Hizmet Sayısı : {{hizmetOutput.length}}
                                            </td>
                                         </tr>
                                        </tbody>
                                      </table>
                                </div>

                             </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
<!--
    <form style="margin:0 auto; width:350px;margin-top: 30px;" ng-submit="doRegister()" >
        <p style="text-align: center;">İlan Yayınla Ve Randevu Ver</p>
        <sehir page='kuaforFormDoldur'></sehir>

    <div class="form-group">
   <label>Şifre</label>
    <div class="inputIcon">
    <i class="fas fa-key" style="left:320px"> </i>
    <input placeholder="Şifre" type="password" name="password" ng-model="sifre" class="form-control">
    </div>
    </div>
<div class="form-group">
    <label for="">Seçiniz</label>
        <select class="form-control" ng-model="rol">
          <option value="" disabled>Seçiniz</option>
          <option value="2">Kuaförüm randevu vermek ve müşterilerimi takip etmek istiyorum.</option>
          <option value="3">Randevu almak istiyorum.</option>
        </select>
</div>



<br>
<button type="submit" style="width:100%;" ng-disabled="!name ||  !sifre || !email || !rol" class="btn btn-secondary">
<i class="fa fa-send-o"></i> Kayıt Ol
</button>

      </form>
    -->






</div>
